<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Tiny App</title>
  </head>

  <body>
    <% include partials/_header.ejs %>
    <a href="/u/<%= shortURL%>">http://tinyapp.com/u/<%= shortURL %></a>
    <form action="/urls/<%= shortURL %>" method="post">
      <p>
        <label for="long-url-input">long URL</label>
        <input id="long-url-input" name="newLongURL" value="<%= longURL %>">
      </p>
    <p>
      <button>Update</button>
    </p>
    </form>
  </body>
</html>